<!DOCTYPE html>
<html>
    <head>
        <title>Lockers</title>
        <style>
            .locker {
                margin-left: 20px;
            }
            .item {
                margin-left: 20px;
            }
        </style>
    </head>
    <body>
        {% for locker in lockers %}
            <details>
                <summary>Locker: {{locker.id}}</summary>
                <div class="locker">

                {% for item in locker.intended_items %}
                    <details>
                        <summary>Item: {{ item.id }} - {{ item.name }}</summary>
                        <div class="item">

                        {% for part in item.parts %}
                                <summary>
                                    {{ part.name }}
                                    {% if part.uid %}
                                        (UID: {{ part.uid }})
                                    {% endif %}
                                </summary>
                        {% endfor %}
                        </div>
                    </details>
                {% endfor %}
                </div>
            </details>
        {% endfor %}
    </body>
</html>